nav{
    background-color: #121212;
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    max-width: 1525px;;
    width: 96%;
}

img{
    width: 300px;
}